StudyDevelop/Correlations/Project1/BPELCalcula.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="BPELCalcula"
     targetNamespace="http://xmlns.oracle.com/Correlations/Project1/BPELCalcula"
     xmlns:ns="http://xmlns.oracle.com/pcbpel/adapter/file/Correlations/Project1/RecebimentoResultado"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
     xmlns:cor="http://xmlns.oracle.com/Correlations/Project1/BPELCalcula/correlationset"
     xmlns:client="http://xmlns.oracle.com/Correlations/Project1/BPELCalcula"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    >
    <plnk:partnerLinkType name="BPELCalcula">
        <plnk:role name="BPELCalculaProvider" portType="client:BPELCalcula"/>
        <plnk:role name="BPELCalculaRequester" portType="client:BPELCalculaCallback"/>
    </plnk:partnerLinkType>
    <vprop:propertyAlias propertyName="cor:id" messageType="client:BPELCalculaRequestMessage" part="payload">
        <vprop:query>//client:id</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="cor:id" xmlns:ns2="http://xmlns.oracle.com/pcbpel/adapter/file/Correlations/Project1/RecebimentoResultado"
         messageType="ns2:Read_msg" part="body" xmlns:ns1="http://TargetNamespace.com/RecebimentoResultado">
        <vprop:query>//ns1:id</vprop:query>
    </vprop:propertyAlias>
    <wsdl:import namespace="http://xmlns.oracle.com/pcbpel/adapter/file/Correlations/Project1/RecebimentoResultado"
         location="RecebimentoResultado.wsdl"/>
    <wsdl:import namespace="http://xmlns.oracle.com/Correlations/Project1/BPELCalcula/correlationset"
         location="BPELCalcula_properties.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/Correlations/Project1/BPELCalcula" schemaLocation="xsd/BPELCalcula.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BPELCalculaResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="BPELCalculaRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:portType name="BPELCalculaCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:BPELCalculaResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="BPELCalcula">
        <wsdl:operation name="process">
            <wsdl:input message="client:BPELCalculaRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
